@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
    left: unset;
}